.admin{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    margin-left: 1vw;
    
    margin-top: 18vh;
}
.admin-left{
    width: 60%;
    background-color: #313030;
    padding: 2vh 2vw;
    height: 75vh;
    display: flex;
    gap:10px;

}
.admin-right{
    width: 38%;
    padding: 2vh 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1vw;
    /* background-color: #4f4c4c; */
    border:2px gold solid;
    border-radius: 20px;



}
.admin-right h1{
    font-size: 2.5vw;
    color:gold;
    font-weight: bold;
}
.admin-contact{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    
    /* background-color: #fff; */
}
.admin-contact form {
    display: flex;
    flex-direction: column;
}
.admin-contact form input{
    margin-bottom: 2vh;
    height: 6vh;
    padding: 1vh 1vw;
    background-color: rgb(61, 61, 62);
    border-radius: 5px;
    box-shadow: 1px 1px 5px gold;
}
.admin-contact form textarea{
    height: 30vh;
    padding: 2vh 1vw;
    background-color: rgb(59, 60, 60);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gold;
}
.admin-contact button{
    height: 8vh;
    background-color: gold;
    padding: 1vh 1vw;
    margin-top: 4vh;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
}
.admin-contact button:hover{
    background-color: transparent;
    border: 2px gold solid;
    color:gold;
}
.admin-left-left{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.admin-left-right{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.admin-left-right