@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    /* color:white; */
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;

}
.app{
    /* background-color:; */
    min-height: 100vh;

    /* margin-top: 15vh; */
    /* background-image: linear-gradient(45, blue,rgb(7, 173, 239) ,rgb(34, 4, 230)); */
}
.home-page{
    display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: space-between;
}
body{
    min-height: 100vh;
    background-color:#e6ecf7;
}
